.header {
  min-height: 70px;
  box-shadow: var(--box-shadow);
  background-color: var(--c-dark);
  color: var(--c-light);
}

.inner {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 40px;
  color: var(--c-accent);
}
