.footer {
  box-shadow: var(--box-shadow);
  background-color: var(--c-light);
  color: var(--c-dark);
}

.footerDark {
  background-color: var(--c-dark);
  color: var(--c-light);
}

.inner {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 40px;
  color: var(--c-accent);
}
